$very_dark_blue : rgb(20, 33, 59);
$light_dark_blue : rgb(39, 57, 98);
$primary_blue : rgb(0, 121, 254);
$white: hsl(0, 0%, 86%);
$white_transparent_75: hsla(0, 0%, 100%, 0.75);
$white_transparent_60: hsla(0, 0%, 100%, 0.6);
