.nav{
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
  &__title{
    color: $white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    flex: 1;
  }

  &__light{
    font-size: 2rem;
    font-weight: 300;
    color: $white;
    letter-spacing: .3rem;
  }

  &__icon{
    font-size: 2.5rem;
    margin-left: 2rem;
    color: $white;
  }
}
.container{
  width: 100%;
  position: relative;
}

.form{
  position: relative;
  margin-top: 5rem;
  &__input{
    width: 100%;
    padding: 3rem;
    background-color: $light_dark_blue;
    outline: none;
    border: none;
    border-radius: 1.5rem;
    color: $white;
    font-family: Monolisa, sans-serif;
    font-weight: 700;

    &::placeholder{
      color: white;
      font-family: 'Lexend Deca', sans-serif;
    }

  }

  &__button{
    position: absolute;
    bottom: 1.5rem;
    right: 10px;
    padding: 1.5rem 2rem;
    background-color: $primary_blue;
    border: none;
    outline: none;
    color: $white;
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 1.5rem;
    font-size: 1.7rem;
    transition: all 0.5s;
    cursor: pointer;

    &:hover{
      transform: scale(1.05);
    }
    &:active{
      transform: translateY(-1rem);
    }
  }
}
.spinnerControl{
  @include centerElement(50%, 50%);
}
.error_description{
  text-align: center;
  color: #de1747;
  font-family: MonoLisa-Bold, sans-serif;
  font-size: 2rem;
  margin-top: 2rem;
}
.hidden{
  display: none;
}
.shown{
  display: block;
}
